$font-stack:'Fira Sans', sans-serif;

body {
  background: #FCFCFC;
  font-family: $font-stack;
  margin:0;
}

h1 {
  text-align: center;
  margin: 0.3em 0em 0em 0em;
}

.divider {
  height: 1px;
  width: 80%;
  border-bottom: 1px solid lightgrey;
  margin: 0 auto;
}

#nav {
  position: fixed;
  top: 100px;
  left: 1%;
  right: 81%;
  background: white;
  border-radius: 5px;
  border: 0.75px solid lightgrey;
  .menu-item {
    padding:0em;
    text-align: center;
    cursor: pointer;
    h3{
      margin: 0.1em;
      padding: 0.5em;
      border-radius: 5px;
      &:hover {
        background: #F0F0F0;
  
      }
    }
  }
}




#election-coverage {
  display: flex;
  flex-direction: column;
  //background:pink;
  max-width: 1000px;
  height: 1000px;
  margin:0 auto;
  padding: 0em;
  #video {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
  }
  
  #video iframe, #video object, #video embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
  #election-results {
    //background: greenyellow;
    max-width: 1000px;;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    h2 {
      text-align: left;
      margin: 0.5em;
      width: 100%;
    }
    .election {
      //background: orange;
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      h3 {
        margin: 0.3em;
        font-size: 26px;
        text-align: center;
      }
      .container {
        background: white;
        margin:0.5em;
        border-radius: 3px;
        border: 0.5px solid #D0D0D0;
        overflow: hidden;
        .result {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          outline: 1px solid black;
          h4 {
            margin:1em;
            font-size: 16px;
          }
        }
      }
    }
  }
}

