$font-stack:'Quicksand', sans-serif;
$text-color: #2C363F;
$primary-color: #FFFCF9;
$secondary-color: #B1EDE8;
$tertiary-color: #E75A7C;
$branding-color: #F06449;
$branding-alt: #F06449;


body {
  font: 100% $font-stack;
  color: $text-color;
  margin: 0;
  background: #B1EDE8
}

div.main-content {
  display: flex;
  flex-direction: column;
  width:800px;
  margin: auto;
  padding: 0em;
  background: $primary-color;
  transition: 0.2s ease-in-out;
  h1 {
    text-align: center;
  }
}

div.election-content {
  padding: 0em;
}

div.districts {
  background: linear-gradient($branding-color -500px, $primary-color);
  background-size:1px 100%;
  margin: 4px;
  border-radius: 20px;
  transform-origin: center top;
  transition: 0.5s ease-out;
  h1.districts {
    margin: 0em;
    padding: 0.8em;
    border-radius: 20px;
    background-color: $branding-color ;
    cursor: pointer;
    user-select: none;
    transition: 0.5s ease-out;
    &:active {
      border-radius: 30px;
    }
  }
  &:hover {
    background-position: 100px;
  }
  &:active {
    border-radius: 30px;
  }

}

div.elections {
  display: flex;
  flex-direction: column;
}

div.results-container {
  background: $primary-color;
  width: 80%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1em;
  border-radius: 2px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

div.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(255, 252, 249, 0);
  width: 100%;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 1px;
  border-radius: 2px;
  transition: background-color 0.4s ease-out, border-radius 0.6s ease-out;
  .result-indicator {
    width:10px;
    height: 30px;
  }
  .result-name {
    padding: 0.2em;
    padding-left: 1em;
    width: 50%;
  }
  .result-num {
    //border-right: 4px solid #FF97A1;
    padding: 0.2em;
    width: 20%; 
  }
  .result-subresult {
    width: 100%;
    display: flex;
    
  }
}

div.results:hover {
  background: #B1EDE8;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  body {
    background: $primary-color;
  }
  div.main-content {
    width:100%;
    padding: 0;
    margin: 0;
    h1 {
      margin: 0.2em auto 0.3em auto;
    }
  }
  div.results-container {
    width: 90%;
    margin: 0 auto;
  }
  div.results {
    width: 100%;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}