//THIS CSS IS FOR OVERRIDING THEMAIN STYLESHEET KEEP IT SHORT

.cbar {
  padding: 0.9em 0 0.9em 0 !important;
  transform: skew(10deg, 0);
}
.bgbar {
  border-radius: 0 !important;
}
.fgbar {
  border-radius: 0 !important;
}