$font-stack:'Roboto', sans-serif;
$border-color:#D0D0D0;

body {
  background: #FCFCFC;
  font-family: $font-stack;
  margin:0;
}

h1 {
  text-align: center;
  margin: 0.3em 0em 0em 0em;
}

.divider {
  height: 1px;
  width: 80%;
  border-top: 1px solid $border-color;
  margin: 0 auto;
}

#nav {
  margin-bottom: -3.1em;
  h2 {
    font-size: 30px;
    text-align: left;
    margin: 0.5em;
  }
}

#election-coverage {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  height: 1000px;
  margin:0 auto;
  padding: 0em;
  #video {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
  }
  
  #video iframe, #video object, #video embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

  #election-results {
    max-width: 1000px;
    min-height: calc(100vh - 3em);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    padding-top: 3em;
    .election {
      width: 500px;
      min-height: 0;
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      h3 {
        margin: 0.3em;
        font-size: 23px;
        text-align: center;
      }

      .cresults {
        background: white;
        margin:0.5em;
        border-radius: 5px;
        border: 0.5px solid $border-color;
        overflow: hidden;
        padding:0.2em 0.2em 0.2em 0.2em;
        h4 {
          font-size: 14px;
          margin: 0em;
        }

        .result {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: start;
          padding:0.25em 0.4em 0.25em 0.4em;
          //border-bottom: 1px solid #D0D0D0;
          border-radius: 5px;
          &:hover {
            background: #EFEFEF;
            cursor: pointer;
          }
          .cname {
            width: 40%;
            padding:0.6em 0 0.6em 0;
            white-space: nowrap;
          }
          .cvotes {
            width: 10%;
            text-align: right; 
            padding:0.6em 0 0.6em 0;
          }
          .cbar {
            //position: relative;
            width: 50%;
            padding:0.52em 0 0.65em 0;
            .bgbar {
              float: right;
              position: relative;
              background: #EFEFEF;
              border: 1px solid $border-color;
              border-radius: 5px;
              width: 93%;
              height: 100%;
              //overflow: hidden;
              margin: 0 auto;
              .fgbar {
                position: absolute;
                top: -1px;
                bottom: -1px;
                left:-1px;
                border-radius: 4px;
              }
            }
          }
          .csubresults {
            //display: none;
            overflow: hidden;
            width: 80%;
            margin: auto;
            text-align: center;
          }
        }
      }
    }
  }
}

